/Adventure/nbproject/private/
*.pyc
/simple/nbproject/private/
/IfExample/nbproject/private/
/SimplePygame/nbproject/
/Bees/nbproject/private/
/Sprite1/nbproject/private/
/TileDraw/nbproject/private/
/NewPythonProject/nbproject/private
/nbproject/private/
Web/name-picker/.idea
.idea
doc/.ipynb_checkpoints
.ipynb_checkpoints
